<div  class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Add Brand</h5></div>
        <div class="card-body">
          <form [formGroup]="brandAddForm">
            <div class="mb-3">
              <label for="colorName"><b>Brand Name</b></label>
              <div class="form-group">
                <input
                  type="text"
                  id="brandName"
                  formControlName="brandName"
                  class="form-control"
                  placeholder="brand name"
                />
              </div>
            </div>
          </form>
        </div>
        
        <div  class="card-footer">
          <button type="button" class="btn btn-primary" (click)="addBrand()"  >Add Color</button>
        </div>
      </div>
    </div>
  </div>
